/* -------------------------------- 

Comments

-------------------------------- */


.comments_wrap{
    margin: 0 auto;
    position: relative;
    top: 3em;
    display: grid;
}

@media only screen and (max-width: 600px) {.comments_wrap{width: 98%;}}

@media only screen and (min-width: 600px) and (max-width: 1000px) {.comments_wrap{width: 95%;}}

@media only screen and (min-width: 1000px) {.comments_wrap{width: 80%;}}




.comments_wrap .comments_page{
    background: var(--post-background);
    /* box-shadow: 0 4px 10px 1px var(--shadow-color); */
    border: 3px solid var(--border-color);
    padding: 2.5em;
    border-radius:8px;
    position: relative;
} 

.comments_wrap .comments_page .comments_header {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.comment .user_name{
    font-weight: bold;
    font-size: 0.8em;
    color: #404b58;
}

.comments_wrap .comments_page .text,
.comments_wrap .comments_page .message
{
    border:none;
    outline: none;
    border-radius:8px;
    display: block;
	width:100%;
    background: var(--post-background);
    resize: none;
    border: none;
    color:var(--font-color-dark);
    max-width: 40vw;
}


.comments_wrap .comments_page .message{
    font-size: 0.9em;
    margin: 0.5em 0;
} 

.comments_wrap .comments_page .text{
    border: 3px solid var(--border-color);
}

.comments_wrap .comments_page .comment_time{
    font-size: 0.8em;
    color: #5f6f81;
}

.comments_wrap .comments_page .score{
    font-size: 0.8em;
    color: #5f6f81;
}

.comments_wrap .comments_page .reply{
    font-size: 0.8em;
    color: #5f6f81;
}

.comments_wrap .comments_page .vote{
    margin-right: 1em;
    color: #5f6f81;
}

.comments_wrap .comments_page .replies{
    font-weight: bold;
    font-size: 0.8em;
    color: #404b58;
}

.subcomments,
.new_comment_area
 {
    position: relative;
    margin-left: 2em;
    margin-bottom: 1em;
}

.comments_page > .comment-wrap > .subcomments ,
.comments_page > .comment-wrap > .new_comment_area
{
    margin:0;
    margin-bottom: 4em;
}

.comments_page > .comment-wrap > .comment {
    display: none;
}

.comments_wrap{
    margin-bottom: 5em;
}

.new-comment .text{
    padding: 0.2em;
}
.new-comment{
    position: relative;
}


#send_button{
    position: absolute;
    left:50%;
    bottom: 10%;
    font-size: 0.8em;
    color:#404b58;
    font-weight: bold;
    text-transform:uppercase;
    border:none;
    background: none;
    border-bottom: 2px solid #759e7f;
}