.profile_info {
    display: flex;
    justify-content: center;
}
 
.profile_info .profile-editable {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var( --icon-hover-color);
    box-shadow: 0 4px 10px 1px var(--shadow-color);
    padding: 1em;
}
 
.profile_info .profile {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var( --icon-hover-color);
    box-shadow: 0 4px 10px 1px var(--shadow-color);
    padding: 1em;
}

.profile_info .profile-editable .image,
.profile_info .profile .image  {
    order : -1;
    max-width:7em;
    max-height: 7em;
    margin: 2em 2em 1em 2em;
    align-self: center;
    color: var(--shadow-color);
}
