.profile-editable {
    background: var(--post-background);
    box-shadow: 0 4px 10px 1px var(--shadow-color);
    position: relative;

    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-rows: 1fr, 7fr;
    grid-template-areas: "foto name"
                        "foto settings"


}

.profile .image {
    margin: 2em;
    box-shadow: 0 4px 10px 1px var(--shadow-color);
}

.profile .image,
.profile-editable .image {
    grid-area: foto;
}

.profile .name,
.profile-editable .name {
    grid-area: name;
}

.profile-editable .account-settings {
    grid-area: settings;
}