/* -------------------------------- 

Stories

-------------------------------- */

.post {
    margin: 0 auto;
    position: relative;
    top: 3em;

    margin-bottom: 4em;

    display: grid;
    /* grid-template-columns: 8fr 0.5fr 1fr; */

    width: 100%;
}

@media only screen and (min-width: 400px) {
    .post{
        max-width: 98%;
    }
    .story{
        grid-row: 1;
    }
    .story_info{
        grid-row: 2;
    }

}
@media only screen and (min-width: 800px) {
    .post{
        max-width: 95%;
    }

    .story{
        grid-column: 1;
    }
    .story_info{
        grid-column: 3;
    }
  
}
@media only screen and (min-width: 1000px) {
    .post{
        width: 70em;
    }

    .story{
        grid-column: 3;
    }
}

.post.shrink .story {
    max-height: 20em;
    overflow: hidden;
}

.story {
    background: var(--post-background);
    border: 3px solid var(--border-color);
    padding: 2.5em;
    border-radius: 8px;
    position: relative;
}

.story header {
    font-size: 1.5em;
}

.story .text {
    position: relative;
    margin: 0;
}

.post.shrink .story .text:before {
    content: '';
    width: 100%;
    /* height:100%; */
    height: 7em;
    position: absolute;
    left: 0;
    top: 10em;
    background: linear-gradient(transparent, 50px, var(--post-background));
}

.story .content-wrap {
    padding: 2em 0em;
    display: flex;
    justify-content: space-between;
}

.story .image {
    max-width: 10em;
    max-height: 10em;
    margin-left: 2em;
}

.story .readmore {
    display: none;
}

.post.shrink .story .readmore {
    display: block;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 4px 6px 0px var(--shadow-color);
    border: none;
    padding: 0.6em 1.0em;
    border-radius: 25px;
    background: var(--body-backgorund);
}


.story_info {
    background: var(--post-background);
    border: 3px solid var(--border-color);
    border-radius: 8px;
};

@media only screen and (min-width: 600px) {
    .story_info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "channel"
            "username"
            "vote"
            "score"
            "comments"
            "date";
    }
}

@media only screen and (min-width: 1000px) {
    .story_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "channel channel"
            "username username"
            "vote vote"
            "score comments"
            "date date";
    }
}


body {
    background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
}


.story_info .channel,
.story_info .vote,
.story_info .score,
.story_info .comments,
.story_info .date,
.story_info .author_info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.story_info .channel {
    grid-area: channel;
}

.story_info .vote {
    grid-area: vote;
}

.story_info .author_info {
    grid-area: username;
}

.story_info .score {
    grid-area: score;
}

.story_info .comments {
    grid-area: comments;
}

.story_info .date {
    grid-area: date;
}



.story_info .channel {}

.story_info .vote .vote_up {
    margin-right: 1em;
}

.story_info .vote .vote_up,
.story_info .vote .vote_down {
    font-size: 1.5em;

}

.story_info .author_info {}

.story_info .score {}

.story_info .score:after {
    content: " points";
}


.story_info .comments {}

.story_info .comments:after {
    content: " comments";
}



.story_info .date {}





.story_info .channel {
    /* padding: 1em; */
    /* background: var(--body-backgorund); */
}