:root {
    --icon-color: #F9F9F9;
    --icon-hover-color: rgba(255, 255, 255, .3);
    --navbar-background: rgb(57, 58, 58);
    --sidebar-background: rgb(57, 58, 58);
    --shadow-color: rgba(0, 0, 0, 0.4);
    --post-background: #F9F9F9;
    --body-backgorund: rgb(245, 245, 245);
    --navbar-height: 4em;
    --border-color: #d6d6d6;
    --selected: rgb(224, 224, 224);

    --font-color-light: #fff;
    --font-color-dark: rgb(57, 58, 58);
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ecoicons';
    src: url("../fonts/ecoicons/ecoicons.eot");
    src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

a:hover,
a:active,
a:focus,
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}


#navbar a:hover,
#navbar a:active,
#navbar a:focus {
    color: var(--icon-hover-color);
}

#navbar a {
    color: var(--icon-color);
}

body {
    margin-top: var(--navbar-height);
    margin-left: 4em;
    background: var(--body-backgorund);
}

h1 {
    margin: 0;
}